</br></br></br></br></br></br></br></br><div class = "row who">
  <div class = "col-sm-12 col-md-6 col-lg-6">
  	<%= image_tag("Jack.png", class: "img-responsive") %>
  </div>
  <div class = "col-sm-12 col-md-6 col-lg-6">
  	<h1>What about InAudible?</h1>
	  	<p>We are happy to present you our selective list of InAudible audio books. Our team is of reliable technicians and native speaker readers. Download some free abstract and let your ears and your brain do the rest!</p>
	</div>
</div>
<div class = "row how">
  <div class = "col-sm-12 col-md-6 col-lg-6">
  	</br></br><h1>Take a walk!</h1>
	  	<p>Let us introduce you to one of the bests sequences of letters ever written while enjoying the confort of your home or taking a walk outside.</p>
  </div>
  <div class = "col-sm-12 col-md-6 col-lg-6">
  	<%= image_tag("Nudge-Knowledge.jpg", class: "img-responsive") %>
 	</div>
</div>
