<div class="index-content">
  <div class="panel panel-default">
    <div class="panel-body">
      <br/><p id="notice">Thank you for your message! <br/><br/> We have received it and will respond as soon as possible.</p>
      <img src='../assets/email.png'
    </div><!-- / panel-body -->
  </div><!-- / panel -->
</div>
