// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-group {
  width: 55%;
  text-align: center;
  padding-bottom: 20px;
  font-family: futura;
  letter-spacing: 3px;
}
.product-edit-title {
  padding-bottom: -5px;
}
.buttonHolder{ text-align: center; }

// Product show

.content-show-product {
  width: 90% !important;
  margin: 0 auto;
  margin-top: 200px !important;
  margin-bottom: 1em;
  border: medium solid #343a40;
  border-radius: 15px;
}

.content-show-product {
  padding-top: 1em;
  padding-left: .9em;
  font-weight: bold;
}

.content-show-product p {
  padding: 0 1em;
}

.show-image-col {
  padding-top: 1em;
}

.product-partial,
.product-show-image {
  border-radius: 15px;
  padding-bottom: 25px;
  background-color: white;
  
}

.btn-outline-secondary {
  margin: 1em !important;
}
.product-edit-title {
  text-align: center;
  font-variant: small-caps;
  font-size: 40px;
}
.product-price {
  text-align: left;
}

.pagination {
  margin: 20px;
}

.product-gallery-name {
  padding-top: 5px;
}

.product-gallery-decription{
  padding-top: 5px;
}

.product-gallery-color {
  padding-top: 5px;
}
.product-gallery-price {
  padding-top: 5px;
}

.product-info {
  padding-top: 5px;
}


.img-fluid {
  border-radius: 20px;
  max-width: 100%;
}

[class*="col-"] {
    background-clip: padding-box;
    border: 10px solid transparent;
}
