// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-group {
  width: 60%;
  text-align: center;
  padding-bottom: 20px;
  font-family: futura;
  letter-spacing: 3px;
  margin: center;
}
.product-edit-title {
  padding-bottom: -5px;
}
.buttonHolder{ text-align: center; }
