// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  background-color: silver;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 20px;
}
nav {
  background-color: silver;
  padding-top: 20px;
  width: 100%;
}
body {
  background-color: silver
}
h1 {
  font-family: Futura;
  color: #696969;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 60px;
  margin-left: center;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
///////// price
strong {
  text-align: center;
  margin-left: 150px;
}
/////////
h2 {
  font-family: Futura;
  padding-top: 20px;
  text-align: center;
  margin-top: 40px;
}
nav li
{
   display: inline;
   padding: 20px;
   margin: 20px;
}
img {
  width: 100%;
}
p {
  text-align: center;
  padding: 70px;
  font-style: italic;
  line-height: 40px;
}

///////// contact_form

.submit_button {
  text-align: center;
  margin-left: 333px;
}
.form-group {
  margin-left: 250px;
  margin-right: 250px;
}
.col-md-12 {
  text-align: center;
}

///////// carousel

#carouselExampleIndicators {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d3c3c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  height: 60px;
  width: 60px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d3c3c;' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  height: 60px;
  width: 60px;
}
