// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
footer {
  background-color: transparent;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: 20px;
}

h1 {
  font-family: 'ZCOOL KuaiLe', cursive;
  color: #ff005b;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
  margin-top: 1px;
  margin-left: center;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
///////// price
strong {
  text-align: center;
  margin-left: 150px;
}
/////////
h2 {
  font-family: 'ZCOOL KuaiLe', cursive;
  padding-top: 20px;
  text-align: center;
  margin-top: 40px;
}
nav li
{
   display: inline;
   padding: 20px;
   margin: 20px;
}
nav {
  background-color: lightgrey;
  opacity: 0,5;
}

p {
  text-align: justify;
  padding: 10px;
  font-style: italic;
  line-height: 40px;
}

///////// contact_form

label {
  font-size: 20px;
}
.submit_button {
  text-align: center;
  margin-left: 333px;
}
.form-group {
  margin-left: 250px;
  margin-right: 250px;
}
.col-md-12 {
  text-align: center;
}
html {
  height: 100%;
  background-image: url("WhiteBackground.jpg");
}
body {
  background-color: transparent;
}

///////// carousel

#carouselExampleIndicators {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d3c3c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  height: 60px;
  width: 60px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d3c3c;' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  height: 60px;
  width: 60px;
}

///////// styling

.style_image {
  padding-top: 111px;
  max-width:100%;
  height:auto;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.jumbotron {
  background-size: cover;
  background-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: -10px;
  margin-left: 0px;
  max-width:100%;
}
