// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  background-color: silver;
  padding-bottom: 50px;
  padding-top: 50px;
}
nav {
  background-color: silver;
  padding-top: 20px;
  width: 100%;
}
body {
  background-color: silver;
}
h1 {
  font-family: Futura;
  color: #696969;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
h2 {
  font-family: Futura;
  padding-top: 20px;
  text-align: center;
  margin-top: 40px;
}
nav li
{
   display: inline;
   padding: 20px;
   margin: 20px;
   float: right;
}
img {
  width: 100%;
}
p {
  text-align: center;
  padding: 70px;
}
